@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;

  background-image: url("/Assets/Account_created_template.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#text1 {
  position: absolute;
  left: 410px;
  top: 80px;
  color: #6b4937;
  font-size: 80px;
  font-family: "Exo-2", sans-serif;
}

#button1 {
  position: absolute;
  align-items: center center;
  background-color: #f9aa88;
  color: #fbf1de;
  top: 370px;
  left: 520px;
  border: none;
  font-size: 25px;
  font-family: "Exo-2", sans-serif;
  cursor: pointer;
}
