@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(../Assets/ReadyPage.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-color: #F9DA88;
}

.question {
    font-family: "Exo 2", sans-serif;
    font-size: 70px;
    color: #6B4937;
    text-align: center;
    padding-top: 160px;
}

#countdown {
    font-size: 5rem;
    color: #6B4937;
    text-align: center;
    padding-top: 30px;
    animation: countdown-animation 1s ease-in-out;
}

@keyframes countdown-animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
