@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Exo 2", sans-serif;

  background-image: url("../Assets/feedback.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f9da88;
  height: 86.4vh;
}

.container {
  width: 30%;
  margin-left: 150px;
  margin-top: -20px;
}

h1 {
  color: #333;
  font-size: 4em;
}

.feedback-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  background-color: #fbf1de;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #6b4937;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #fbf1de;
  color: #6b4937;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #f9da88;
}

.star {
  font-size: 10vh;
  cursor: pointer;
}

.one {
  color: rgb(255, 0, 0);
}

.two {
  color: rgb(255, 106, 0);
}

.three {
  color: rgb(251, 255, 120);
}

.four {
  color: rgb(255, 255, 0);
}

.five {
  color: rgb(24, 159, 14);
}
.rated {
  color: #ffcc00; /* Yellow color */
}
.notification {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  z-index: 1; /* Sit on top */
  left: 50%; /* Centered horizontally */
  top: 20px; /* 20px from the top */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #6b4937; /* Green background */
  color: white; /* White text */
  padding: 15px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Box shadow */
}

.notification .closebtn {
  margin-left: 15px; /* Margin between text and close button */
  color: white; /* White text */
  font-weight: bold; /* Bold text */
  float: right; /* Float the close button to the right */
  font-size: 22px; /* Font size */
  line-height: 20px; /* Line height */
  cursor: pointer; /* Cursor pointer */
  transition: 0.3s; /* 0.3 second transition */
}

.notification .closebtn:hover {
  color: black; /* Change color on hover */
}

.BackButton {
  position: absolute;
  top: 350px;
  right: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #6b4937;
  border: 3px solid #6b4937;
  padding: 5px;
}

.ReviewButton {
  position: absolute;
  top: 400px;
  right: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #6b4937;
  border: 3px solid #6b4937;
  padding: 5px;
}